@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');
*{
    margin: 0;
    padding: 0;
    font-size: 25px;
}
body { 
    min-height: 100vh;
    font-family: 'Open Sans', sans-serif;
}

main {
    flex: 1 0 auto;
}
nav {
    color: #fff;
    box-shadow: 0px 0px transparent;
    width: 100%;
    transition: all .3s linear;
}
ul li a:hover{
    background-color: transparent;
    color: #FF5274;
}
.fon{
    min-height: 750px;
    background: url(../img/hero.jpg) center center;
    background-size: cover;
    position: relative;
}
nav>.container{
    width: 90%;
    border-bottom: solid 1px rgba(255,255,255,.2);
    padding: 28.5px 0;
}
nav>.container>.row{
    margin-bottom: 0;
}
.logueo{
    margin-right: 40px;
}
.logueo>li:nth-child(2)>a{
    background-color: transparent;
    box-shadow: 0px 0px transparent;
    padding:0 40px;
    border-radius: 100px;
    border: 1.5px white solid;    
}
.logueo>li:nth-child(2)>a:hover{
    border: #FF5274 1.5px solid;

}
.tit{
    text-align: center;
    margin-top: 200px;
    color: white;
}
.titul{
    font-size: 60px;
    line-height: 110%;
    margin: 2.8rem 0 1.68rem 0;
}
.titu{
    margin-top: 40px;
    color: #fff;
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 80px;
}
.cbtn{
    margin-top: 100px;
}
.btn2{    
    padding: 13px 35px 13px 35px;
    color: #FF5274;
    background-color: transparent;
    box-shadow: 0px 0px transparent;
    padding:0 40px;
    border-radius: 100px ;
    border: 1.5px #FF5274 solid; 
    font-size: 13px;
}
.btn1{
    padding: 13px 35px 13px 35px;
    background-color: #FF5274;
    box-shadow: 0px 0px transparent;
    padding:0 40px;
    border-radius: 40px;
    border: 2px solid #FF5274 !important; 
    transition: .3s;
    font-size: 13px;
}
.btn1:hover{
    color: #fff;
    background-color: #D7405D !important;
    border-color: #D7405D !important; 
}
.btn-large:hover, .btn-small:hover {
    background-color:#FF5274!important;
    color: white;
}
p{
    font-size: 15px;
    line-height: 29px;
    color: rgba(28,54,83,.6);
    padding-bottom: 20px;
}

.icono{
    vertical-align: top;
    padding: 6px 0 0;
    margin-right: 20px;
    width: 40px;
}
.ip1{
    width: 80%;
    display: inline-block;
}
.im1{
    margin-top: 15px;
    margin-right: 15px;
    width: 110%;
    color: #FF5274;
    font-weight: 700 !important;
}
h5{
    font-size: 15px;
    font-weight: 500;
    color: #3D4351
}

.row{
    margin-left: -15px;
}
.botones{
    text-align: center;
}
.flecha{
    position: absolute;
    color: white;
    padding-top: 90px;
    animation: efect 900ms alternate infinite linear;
}


@keyframes efect {
    0% { transform: translateY(0px);}
    50% { transform: translateY(-10px);}
    100% { transform: translateY(0px);}
}
.img1{
    margin-top: 15px;
    margin-right: 1px;
    color: #FF5274;
    font-weight: 700 !important;
    width: 48%;
}
.a{
    
    width: 90%;
}
.b{
    background: #F3F4F8;
    padding: 120px 0;
}
h3{   
    color: #3D4351;
    margin: 0 0 20px;
    font-size: 24px;

}
.lista1{
    margin-top: 20px;
    padding-bottom: 20px;
    border-bottom: solid 1px #E6E9EA;
}
.row .col.offset-s7 {
    margin-left: 58.3333333333%;
}

.devices{
    position: relative;
}

.ipad-wrap {
    margin-top: 135px;
    width: 706px;
    height: 1002px;
    background: url(../img/ipad-device.png) center center no-repeat;
    
}
.iphone-wrap {
    width: 304px;
    height: 620px;
    background: url(../img/iphone6.png) center center no-repeat;
    position: absolute;
    left: 530px;
    bottom: 129px;
}
.device-showcase {
    position: absolute;
    right: 61%;
    top: 1040px;
}
.contepor{
    background: white;
    position: relative;
    margin-top: -20px;
    padding: 120px;
    overflow: hidden;

}
.l{
    padding: 0px 24px;
    font-size: 13px;
    margin-top: 30px;
    display: inline-block;
}
.z{
    font-size: 15px;
    line-height: 29px;
    color: rgba(28,54,83,.6);
    padding-bottom: 20px;
}

.contepor .laptop{
    position: absolute;
    width: 915px;
    height: 540px;
    background: url(../img/macbook-pro.png) center center no-repeat;
    top: 114px;
    left: 50%;
}
.nav-scroll{
    height: 91px;
    background-color: #232731 !important;
}
nav>.container{
    transition: all .3s linear;
}
.nav-scroll>.container{
    padding: 13.5px 0;
    border-bottom: none;
}
.pangri{
    margin-top: 120px;
    background: url(../img/polygonal-bg.jpg) center center no-repeat #333844;
    padding-bottom: 190px;
    position: relative;
}
.pangri h2 {
    color: #fff;
    margin: 0 0 20px;
    font-size: 40px;
    font-weight: 300;
    text-align: center;
}
.pangri i {
    font-family: Nunito,sans-serif;
    font-weight: 300;
    font-size: 25px;
    color: #F69D52;
    vertical-align: top;
    margin-left: -8px;
    font-style: normal;
    text-align: center;
}   
.pangri p {
    color: #ACB1B4;
    text-align: center;
}
.pangri .logo-placeholder {
    width: 230px;
    height: 230px;
    position: absolute;
    bottom: -285px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}
.col{
    padding: 95px 0;
}